/* ==== Base ==== */
body {
	font: 1.2rem/1.5 'Open Sans', sans-serif;
	color: #00080c;
}

h1,
h2 {
	font-family: 'Poppins', sans-serif;
}

a:link:not(:class),
a:visited:not(:class) {
	color: #5941a9;
	text-decoration: underline;
}

a:hover:not(:class) {
	color: #a489fa;
}

img {
	max-width: 100%;
}

/* ==== Components ==== */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	border: none;
	background-color: transparent;

	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #00080c;
}

.button:hover {
	text-decoration: none;
	color: #00080c;
}

.button--primary {
	background-color: #f2f4f3;
	border-radius: 500px;
}

.button--primary:hover {
	background-color: #eeeeee;
}

.button--primary:active {
	background-color: #d8d8d8;
}

.button--accent {
	background-color: #5941a9;
	border-radius: 500px;
	color: #f2f4f3;
}

.button--accent:hover {
	color: #f2f4f3;
	background-color: #453188;
}

.button--accent:active {
	background-color: #372670;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 1rem;
	background-color: #fff;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	transition: 0.3s all ease;
}

.main-nav__separator {
	flex-grow: 2;
	margin: 0 3rem;
	border-bottom: 2px solid #453188;
	align-self: center;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	padding: 0.5rem;

	transition: 0.3 all ease;
}

.logo-wrapper:hover {
	text-decoration: none;
}

.logo-wrapper__text {
	margin-left: 1rem;
}

.logo-wrapper__company-name {
	color: #00080c;
	font-size: 1.5rem;
	line-height: 1;

	margin-bottom: 0.5rem;
}

.logo-wrapper__slogan {
	margin-bottom: 0;
	color: #5c5c5c;
	font-size: 1rem;
}

.logo {
	vertical-align: bottom;
	height: 70px;
	transition: 0.3s all ease;
}

.logo__left {
	fill: #5941A9;
}

.logo__right {
	fill: #034748;
}

.menu {
	list-style-type: none;

	padding: 0;
	margin: 0;
	display: flex;

	background-color: #453188;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.menu__item {
	padding: 0;
	margin: 0;
}

.menu__link {
	display: block;
	padding: 20px 40px;
	color: #fff;
	text-transform: uppercase;
	height: 100%;

	transition: 0.1s all ease-out;

	display: flex;
	align-items: center;
}

.menu__link:hover {
	background-color: #f9f9f9;
	color: #453188;
	text-decoration: none;
}

.menu__link:active {
	background-color: #e7e7e7;
}

.main-nav--over-hero {
	padding: 40px 30px 0;
	background-color: transparent;
	box-shadow: none;
}

.main-nav--over-hero .logo {
	height: 100px;
}

.main-nav--over-hero .logo-wrapper {
	padding: 0;
}

.main-nav--over-hero .logo__left,
.main-nav--over-hero .logo__right {
	fill: #fff;
}

.main-nav--over-hero .logo-wrapper__company-name,
.main-nav--over-hero .logo-wrapper__slogan {
	color: #fff;
}

.main-nav--over-hero .main-nav__separator {
	border-color: #fff;
}

.hero-area {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

.hero-area__video-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.hero-area__video-mask {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.hero-area__trees-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 105%;
}

.featured-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.text-box {
	color: #fff;
	padding: 2rem;
	border: 2px solid #453188;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.text-box__title {
	line-height: 1.2;
	font-size: 3rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	margin-top: -4rem;
}

.text-box__text {
	margin-bottom: 2rem;
}

.text-box__btn-wrapper {
	text-align: center;
}

.text-box--hero {
	border-right: none;
	width: 35%;
	padding-right: 6rem;
}

.text-box--newsletter {
	width: 75%;
	border: none;
	padding-right: 12rem;
}

.text-box--newsletter,
.text-box--newsletter .text-box__title {
	color: #00080c;
}

.stats {
	background-color: #fff;
	padding: 4.5rem 0;
	position: relative;
}

.stats__bg {
	width: 100%;
	height: 100%;
	background-color: #453188;
	position: absolute;
	top: 0;
	left: 0;
}

.stats__container {
	position: relative;
}

.stats__title {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.stats__stats-wrapper {
	display: flex;
	justify-content: space-between;
}

.stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2rem;
	width: 32%;
}

.stat__icon {
	display: block;
	margin-bottom: 2rem;
	height: 6rem;
}

.stat__number {
	font-size: 3rem;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 0.5rem;
	line-height: 1;
}

.stat__label {
	color: #ffffff;
	text-align: center;
}

.animated-image {
	overflow: hidden;
}

.animated-image__inner {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.animated-image__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.half-half {
	padding: 60px 0;
	background-color: #fff;
	position: relative;
}

.half-half__content {
	padding: 3.5rem;
	width: 65%;

	position: relative;
	z-index: 2;
}

.half-half__content--shadow {
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.half-half__content-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #453188;
}

.half-half__image {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

.half-half__title {
	color: #fff;
	font-size: 2.5rem;
	text-transform: uppercase;

	padding-bottom: 1rem;
	position: relative;
}

.half-half__title::after {
	content: '';
	display: block;
	position: absolute;
}

.half-half__text {
	color: #fff;
	margin-bottom: 2.5rem;
	line-height: 1.75;
}

.half-half__btn-wrapper {
	text-align: center;
}

.half-half__content *:last-child {
	margin-bottom: 0;
}


.half-half--inverted .container {
	display: flex;
	justify-content: flex-end;
}

.half-half--inverted .half-half__image {
	right: auto;
	left: 0;
}

.newsletter {
	padding: 12rem 0;
	background-color: #fff;
}

.newsletter__container {
	position: relative;
}

.newsletter__image {
	width: 40%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.form__input-wrapper {
	margin-bottom: 2rem;
}

.input-wrapper {
	position: relative;
	padding-top: 1rem;
}

.input-wrapper__label {
	margin-bottom: 0;
	position: absolute;
	top: calc(50% + 0.5rem);
	left: 2rem;
	transform: translateY(-50%);
	transition: 0.3s all ease;
}

.input {
	width: 100%;
	padding: 0.5rem 2rem;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 2px solid #aaa;
	transition: 0.2s all ease;
}

.input:focus {
	border-bottom-color: #453188;
}

.input-wrapper__input:focus + .input-wrapper__label,
.input--not-empty + .input-wrapper__label {
	top: 0;
	left: 0;
	transform: scale(0.6);
	opacity: 0.7;
}

.form__input-wrapper {
	margin-bottom: 2rem;
}

/* ==== Vision CSS ==== */

/* Scroll back up button*/

#backUpBtn {
	display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#d8d8d8;
  color: #5c5c5c;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;

}

#backUpBtn:hover {
  background-color: #555;
}

h3 {
	font-size:2.5vw;
}

.map-image {
	width: auto;
	z-index: 2;
	position: relative;
}

.map-info-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	width: 100%;
	align-items: center;
}

.map-info {
	display: flex;
	flex: 3;
	max-width: 65%;
	width: auto;
	list-style: none;
	padding-right: 20px;
	z-index: 2;
	position: relative;
}

.map-info p {
	z-index: 4;
	width: 6%;
	position: absolute;
	overflow: visible;
}

.header {
	background-position: center;
	background-size: cover;
	padding: 8rem 0 4rem;
}

.header__title {
	text-align: right;
	color: #fff;
	text-transform: uppercase;
}

.main {
	padding: 3rem 0;
}

.collapsible {
	border-bottom: 1px solid #453188;
}

.collapsible:first-of-type {
	border-top: 1px solid #453188;
}

.collapsible:last-of-type {
	margin-bottom: 3rem;
}

.collapsible__head {
	position: relative;
	padding: 1rem;
}

.collapsible__head:hover {
	cursor: pointer;
}

.collapsible__head::after {
	content: url(../imgs/caret-down-solid.svg);
	display: block;
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	width: 1.5rem;
	transition: 0.2s all ease;
}

.collapsible--open .collapsible__head::after {
	transform: translateY(-50%) rotate(180deg);
}

.collapsible__title {
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.collapsible__subtitle {
	opacity: 0.7;
	font-size: 1.5rem;
	margin-bottom: 0;
}

.collapsible__content {
	padding: 1rem 1rem 2.5rem;
}

.collapsible__content::after {
	content: '';
	display: block;
	clear: both;
}

.collapsible__img {
	float: right;
	max-width: 20%;
	max-height: 300px;
	margin-left: 3rem;
}

.text-wrapper {
	margin-bottom: 2.5rem;
}

/*pins*/

.russia {
	top: 35%;
	left: 59%;
}

.canada {
	top: 31%;
	left: 16%;
	width: 100%;
	z-index: 3;
}

.canada-pin-class {
	z-index: 4;
	opacity: 1;
	position: absolute;
}

.canada-pin-change {
	opacity: 0;
	z-index: 8;
	position: absolute;
}

.canada-beaver-class {
	opacity: 0;
	z-index: 3;
	position: relative;
}

.canada-beaver-change {
	opacity: 1;
	z-index: 7;
	position: relative;
	width: 200%;
	overflow: visible;
}

.usa1 {
	top: 45%;
	left: 10%;
}

.usa1-hover {
	top: 29%;
	left: 63%;
}

.usa2 {
	top: 45%;
	left: 18%;
}

.usa2-hover {
	top: 30%;
	left: 71%;
}

.africa {
	top: 57%;
	left: 50%;
}

.australia {
	top: 73%;
	left: 80%;
}

.australia-fun {
	transform: rotate(180deg) translateY(-100%);

}

.map-info-text {
	flex: 1;
	max-width: 27%;
	width: auto;
	text-align: justify;
	font-size: 1.6vw;
	list-style: none;
}

.footer {
	padding: 3rem 0 0.5rem;
	background-color: #e7e7e7;
}

.footer-copyright {
	text-align: center;
	font-size: 0.8rem;
	opacity: 0.7;
}

.footer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.footer-element-title {
	text-transform: uppercase;
}

.footer-element {
	padding: 0 1rem;
	color: #5c5c5c;
	text-decoration: none;
}

.footer-element:first-child {
	padding-left: 0;
}

.footer-element:last-child {
	padding-right: 0;
}

.footer-coordinate {
	margin-bottom: 5px;
}

.socials {
	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
}

.socials-item {
	margin: 0;
	padding: 0;
}

.socials-link {
	display: block;
	padding: 10px;
}

.socials-item:first-child .socials-link {
	padding-left: 0;
}

.socials-icon {
	fill: #00080c;
	width: 2.5rem;
}

.socials-link:hover .socials-icon {
	fill: #453188;
}

.quick-links {
	list-style-type: none;
	padding: 0;
}

.vision-content-container {

	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 1 auto;
	width: 100%;
	height: 350vh;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 30;

}
.navbar-hide {
	position: relative;

}

.vision-content-element {

	padding: 2.5%;
	height: 95vh;
	background-color: #f9f9f9;
	width: 90%;
	margin: 4%;
}



.vision-navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	width: 100%;
	margin-top: 2%;
}
.vision-navbar a {
	justify-content: center;
	align-items: center;
	color: #555;
	background-color: #e7e7e7;
	border-color: #e7eeee;
	border-width: 1px;
	width: auto;
	padding: 1.5%;
	margin: 3% 2%;
	text-align: center;
	text-decoration: none;
}


.vision-navbar a:hover {
	background-color: #d8d8d8;
}

.vision-video-container {
	align-items: flex-end;
	display: flex;
	align-items: flex-end;
	width: 100%;
	min-width: 100%;
	height: 60%;
	max-height: 400px;
	overflow: hidden;
	top: 0px;
	left: 0px;

}

.vision-topVideo {
	width: 100%;
	height: 100%;
	min-width: 100%;
}


.sus_text {
	width: 30%;
	margin: 1% 1%;
	z-index: 1;
	position: relative;
}

#animationButton {
	margin-left: 1%;
	width: 20%;
	align-content: flex-start;
	z-index: 3;
	position: relative;

}

.light-container .lightswitch {
	top: 78%;
	left: 79%;
}

#sustainability .beemovie {
	font-size: 1em;
	color: #f9f9f9;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: justify;
	overflow: hidden;
	opacity: 0;

}

.light-container .closedlight {
	top: 78%;
	left: 78.5%;
}

.lightswitch {
	position: absolute;
		width: 5%;
		z-index: 7;
}

.closedlight {
	position: absolute;
	width: 6%;
	z-index: 6;
}

#sustainability {
	background-image: url(../imgs/wind-turbine.png);
	background-size: cover;
	opacity: 1;

}



.error400 {
	opacity: 0;
	background-color: #555;
	color: #eeeeee;
	width: 100%;
	font-size: 4em;
}


/*what we do*/


.opacityToZero {
	opacity: 0;
	z-index: 5;
}

.iron-class {
	background-image: url("../imgs/grey-square.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.diamond-class {
	background-image: url("../imgs/grey-square.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.granite-class {
	background-image: url("../imgs/grey-square.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.diorite-class {
	background-image: url("../imgs/grey-square.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.coal-class {
	background-image: url("../imgs/grey-square.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.emerald-class {
	background-image: url("../imgs/grey-square.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.gold-class {
	background-image: url("../imgs/grey-square.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.block-container li {
	flex: 0 1 auto;
	width: 100%;
	height: 100%;

}

.iron-background {
	background-image: url("../imgs/iron.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.gold-background {
	background-image: url("../imgs/gold.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.coal-background {
	background-image: url("../imgs/coal.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.emerald-background {
	background-image: url("../imgs/Emerald.png");
	background-size: contain;
	background-repeat: no-repeat;

}

.diamond-background {
	background-image: url("../imgs/diamond.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.granite-background {
	background-image: url("../imgs/granite.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.diorite-background {
	background-image: url("../imgs/diorite.png");
	background-size: contain;
	background-repeat: no-repeat;
}

/*Squares*/

.gold-square {
	opacity: 1;
	z-index: 5;
}

.granite-square {
	opacity: 1;
	z-index: 5;

}

.iron-square {
	opacity: 1;
	z-index: 5;
}

.coal-square {
	opacity: 1;
	z-index: 5;
}

.emerald-square {
	opacity: 1;
	z-index: 5;
}

.diorite-square {
	opacity: 1;
	z-index: 5;
}

.diamond-square {
	opacity: 1;
	z-index: 5;
}



.gold {
	opacity: 0;
	position: relative;
	z-index: 2;
}

.granite {
	opacity: 0;
	position: relative;
	z-index: 2;
}

.iron {
	opacity: 0;
	position: relative;
	z-index: 2;
}

.coal {
	opacity: 0;
	position: relative;
	z-index: 2;
}

.emerald {
	opacity: 0;
	position: relative;
	z-index: 2;

}

.diorite {
	opacity: 0;
	position: relative;
	z-index: 2;
}

.diamond {
	opacity: 0;
	position: relative;
	z-index: 2;
}

/*what we do content*/

#what-we-do {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;

}



.block-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: nowrap;
	height: auto;
	width: 9%;
	list-style: none;
	z-index: 1;

}
.what-we-do-content ul {
	flex: 0 1 auto;
}

.short-paragraph {
	text-align: justify;
	width: 23%;
	max-height: 100%;
	list-style: none;
	font-size: 2.4vmin;
}

.what-we-do-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	max-height: 60%;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	margin: auto;
}
.slides-container {
	max-width: 58%;
	display: flex;
}


.slides1-class {
	position: absolute;
	z-index: 5;
	max-width: 45%;
	flex-basis: auto;

}
.slides2-class {
	z-index: 3;
	position: relative;
	top: 0px;
	left: 0px;
	max-width: 100%;

}

/*-------END --------*/

.teambak {
	background-color:white
	background-repeat: no-repeat;
	background-position: center top;
  background-attachment: scroll;
}

.team-title{
	text-align:center;
	color: #5941A9;
	font-family: 'Lobster', cursive;
	font-size: 60px;


}

.team-video-container {
	align-items: flex-end;
	display: flex;
	align-items: flex-end;
	width: 100%;
	min-width: 100%;
	height: 60%;
	max-height: 400px;
	overflow: hidden;
	top: 0px;
	left: 0px;
}

.team-topVideo {
	width: 100%;
	height: 100%;
	min-width: 100%;
}

.team-container {
		width:960px;
		border-radius: 25px;
	margin: 0 auto;
	padding:10px 25px;
	border:7px solid #5941A9;
	background:#C7D3D4FF;
	font-family: 'BedsteadRegular';
}

.team-headers {
	text-align:center;
	font-family: 'BedsteadRegular';
}

.poop {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.poop li {
  float: left;
}

.poop li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.poop li a:hover {
  background-color: #111;
}

.Can{
  float:right;
	border:7px solid #5941A9;
}

.Cannot{
	float:left;
	border:7px solid #5941A9;
}
