/* ==== Base ==== */
body {
	font: 1.2rem/1.5 'Open Sans', sans-serif;
	color: #00080c;
}

h1,
h2 {
	font-family: 'Poppins', sans-serif;
}

a:link:not(:class),
a:visited:not(:class) {
	color: #5941a9;
	text-decoration: underline;
}

a:hover:not(:class) {
	color: #a489fa;
}

img {
	max-width: 100%;
}

/* ==== Components ==== */
.button {
	display: inline-block;
	padding: 10px 30px;
	border: none;
	background-color: transparent;

	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #00080c;
}

.button:hover {
	text-decoration: none;
	color: #00080c;
}

.button--primary {
	background-color: #f2f4f3;
	border-radius: 500px;
}

.button--primary:hover {
	background-color: #eeeeee;
}

.button--primary:active {
	background-color: #d8d8d8;
}

.button--accent {
	background-color: #5941a9;
	border-radius: 500px;
	color: #f2f4f3;
}

.button--accent:hover {
	color: #f2f4f3;
	background-color: #453188;
}

.button--accent:active {
	background-color: #372670;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 60px);
	position: fixed;
	top: 40px;
	left: 30px;
}

.main-nav__separator {
	flex-grow: 2;
	margin: 0 3rem;
	border-bottom: 2px solid #453188;
	align-self: center;
}

.logo-wrapper {
	display: flex;;
	align-items: center;
}

.logo-wrapper:hover {
	text-decoration: none;
}

.logo-wrapper__text {
	margin-left: 1rem;
}

.logo-wrapper__company-name {
	color: #00080c;
	font-size: 1.5rem;
	line-height: 1;

	margin-bottom: 0.5rem;
}

.logo-wrapper__slogan {
	margin-bottom: 0;
	color: #5c5c5c;
	font-size: 1rem;
}

.logo {
	vertical-align: bottom;
	height: 100px;
}

.logo__left {
	fill: #5941A9;
}

.logo__right {
	fill: #034748;
}

.menu {
	list-style-type: none;

	padding: 0;
	margin: 0;
	display: flex;

	background-color: #453188;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.menu__item {
	padding: 0;
	margin: 0;
}

.menu__link {
	display: block;
	padding: 30px 40px;
	color: #fff;
	text-transform: uppercase;
	height: 100%;
	
	transition: 0.1s all ease-out;

	display: flex;
	align-items: center;
}

.menu__link:hover {
	background-color: #f9f9f9;
	color: #453188;
	text-decoration: none;
}

.menu__link:active {
	background-color: #e7e7e7;
}

.hero-area {
	
}

/* ==== Overrides, utilities, etc. ==== */