/* ==== Base ==== */
body {
	font: 1.2rem/1.5 'Open Sans', sans-serif;
	color: #00080c;
}

h1,
h2 {
	font-family: 'Poppins', sans-serif;
}

a:link:not(:class),
a:visited:not(:class) {
	color: #5941a9;
	text-decoration: underline;
}

a:hover:not(:class) {
	color: #a489fa;
}

img {
	max-width: 100%;
}

/* ==== Components ==== */
.button {
	display: inline-block;
	padding: 10px 30px;
	border: none;
	background-color: transparent;

	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #00080c;
}

.button:hover {
	text-decoration: none;
	color: #00080c;
}

.button--primary {
	background-color: #f2f4f3;
	border-radius: 500px;
}

.button--primary:hover {
	background-color: #eeeeee;
}

.button--primary:active {
	background-color: #d8d8d8;
}

.button--accent {
	background-color: #5941a9;
	border-radius: 500px;
	color: #f2f4f3;
}

.button--accent:hover {
	color: #f2f4f3;
	background-color: #453188;
}

.button--accent:active {
	background-color: #372670;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 60px);
	
	position: fixed;
	top: 40px;
	left: 30px;
	z-index: 10;
}

.main-nav__separator {
	flex-grow: 2;
	margin: 0 3rem;
	border-bottom: 2px solid #453188;
	align-self: center;
}

.logo-wrapper {
	display: flex;;
	align-items: center;
}

.logo-wrapper:hover {
	text-decoration: none;
}

.logo-wrapper__text {
	margin-left: 1rem;
}

.logo-wrapper__company-name {
	color: #00080c;
	font-size: 1.5rem;
	line-height: 1;

	margin-bottom: 0.5rem;
}

.logo-wrapper__slogan {
	margin-bottom: 0;
	color: #5c5c5c;
	font-size: 1rem;
}

.logo {
	vertical-align: bottom;
	height: 100px;
}

.logo__left {
	fill: #5941A9;
}

.logo__right {
	fill: #034748;
}

.menu {
	list-style-type: none;

	padding: 0;
	margin: 0;
	display: flex;

	background-color: #453188;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.menu__item {
	padding: 0;
	margin: 0;
}

.menu__link {
	display: block;
	padding: 30px 40px;
	color: #fff;
	text-transform: uppercase;
	height: 100%;
	
	transition: 0.1s all ease-out;

	display: flex;
	align-items: center;
}

.menu__link:hover {
	background-color: #f9f9f9;
	color: #453188;
	text-decoration: none;
}

.menu__link:active {
	background-color: #e7e7e7;
}

.main-nav--inverted .logo__left,
.main-nav--inverted .logo__right {
	fill: #fff;
}

.main-nav--inverted .logo-wrapper__company-name,
.main-nav--inverted .logo-wrapper__slogan {
	color: #fff;
}

.main-nav--inverted .main-nav__separator {
	border-color: #fff;
}

.hero-area {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.hero-area__video-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.featured-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hero-text-box {
	color: #fff;
	width: 35%;
	padding: 2rem 6rem 2rem 2rem;
	border: 2px solid #453188;
	border-right: none;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.hero-text-box__title {
	line-height: 1.2;
	font-size: 3rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	margin-top: -4rem;
}

.hero-text-box__text {
	margin-bottom: 2rem;
}

.hero-text-box__btn-wrapper {
	text-align: center;
}

/* ==== Overrides, utilities, etc. ==== */






.half-half__text {
	color: #fff;
	margin-bottom: 2.5rem;
	line-height: 1.75;
}

.half-half__btn-wrapper {
	text-align: center;
}

.stats {
	background-color: #453188;
	padding: 4.5rem 0;
}

.stats__title {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.stats__stats-wrapper {
	display: flex;
	justify-content: space-between;
}

.stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2rem;
	width: 32%;
}

.stat__icon {
	display: block;
	margin-bottom: 2rem;
	height: 6rem;
}

.stat__number {
	font-size: 3rem;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 0.5rem;
	line-height: 1;
}

.stat__label {
	color: #ffffff;
	text-align: center;
}

.animated-image {
	overflow: hidden;
}

.animated-image__inner {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.animated-image__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


/* ==== Vision CSS ==== */

/* Scroll back up button*/

#backUpBtn {
	display: none;
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color:#d8d8d8; 
  color: #5c5c5c; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 20px; 
}

#backUpBtn:hover {
  background-color: #555; 
}

h3 {
	font-size:2.5vw;
}

.map-image {
	width: auto;
	z-index: 2;
	position: relative;
}

.map-info-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	width: 100%;
	align-items: center;
}

.map-info {
	display: flex;
	flex: 3;
	max-width: 65%;
	width: auto;
	list-style: none;
	padding-right: 20px;
	z-index: 2;
	position: relative;
}

.map-info p {
	z-index: 4;
	width: 6%;
	position: absolute;
	overflow: visible;
}



/*pins*/

.russia {
	top: 35%;
	left: 59%;
}

.canada {
	top: 31%;
	left: 16%;

}

.canada-pin-class {
	opacity: 1;
}

.canada-beaver-class {
	opacity: 0;
}

.canada-beaver-show {
	opacity: 1;
	top: 25%;
	left: 16%;
}


.canada-pin-hide {
	opacity: 0;
}

.usa1 {
	top: 45%;
	left: 10%;
}

.usa1-hover {
	top: 42%;
	left: 75%;
}

.usa2 {
	top: 45%;
	left: 18%;
}

.usa2-hover {
	top: 40%;
	left: 80%;
}

.africa {
	top: 50%;
	left: 50%;
}
.map-info-text {
	flex: 1;
	max-width: 27%;
	width: auto;
	text-align: justify;
	font-size: 1.6vw;
	list-style: none;
}

.footer-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;

	width: 100%;
	height: 45%;
	min-height: 15rem;
	background-color: #e7e7e7;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-element {

	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	color: #5c5c5c;
	width: auto;
	text-decoration: none;
}

.footer-element a {
	align-items: center;
	justify-content: start;
}

.vision-content-container {

	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 1 auto;
	width: 100%;
	height: 350vh;
	list-style: none;
	padding: 0;
	margin: 0;
	
}

.vision-content-element {

	padding: 2.5%;
	height: 95vh;
	background-color: #f9f9f9;
	width: 90%;
	margin: 4%;
}



.vision-navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	width: 100%;
	margin-top: 2%;
}
.vision-navbar a {
	justify-content: center;
	align-items: center;
	color: #555;
	background-color: #e7e7e7;
	border-color: #e7eeee;
	border-width: 1px;
	width: auto;
	padding: 1.5%;
	margin: 3% 2%;
	text-align: center;
	text-decoration: none;
}

.vision-navbar a:hover {
	background-color: #d8d8d8;
}

.vision-video-container {
	align-items: flex-end;
	display: flex;
	align-items: flex-end;
	width: 100%;
	min-width: 100%;
	height: 60%;
	max-height: 400px;
	overflow: hidden;
	top: 0px;
	left: 0px;

}

.vision-topVideo {
	width: 100%;
	height: 100%;
	min-width: 100%;
}